.letter-avatar {
    font-size: 1.6em;
    background: cornflowerblue;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    color: white;
    /* display: inline-block; */
    /* vertical-align: middle; */
    line-height: 1.5em;
}
