<!--ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id }}</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>

  <div class="avatar-lg">
    <ion-img *ngIf="item.avatar" [src]="item.avatar"></ion-img>
    <ion-img *ngIf="!item.avatar" [src]="'http://api.skype.com/users/echo/profile/avatar?size=l'"></ion-img>
    <div class="avatar-text">
      <h2> {{ item.name }} - {{ item.cpf }} </h2>
      <p> {{ item.designation }}</p>
    </div>
  </div>

  <ion-list>
    
    <div style="display:flex">
      <ion-item button (click)="call(item.mobile)" style="flex:6" lines="full">
          <ion-icon slot="start" name="call">
          </ion-icon>
          <ion-label>
            <h2>{{ item.mobile }}</h2>
            <p> Mobile, {{ item.carrier }} </p>
          </ion-label>
        </ion-item>
        <ion-button style="flex:1" fill="clear" shape="round" color="secondary" [href]="'sms:+91' + item.mobile">
          <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
        </ion-button>
    </div>
    

    <ion-list *ngFor="let contact of contacts">
      <ion-item button *ngIf="contact.number" (click)="call(contact.number)">
        <ion-icon slot="start" name="call">
        </ion-icon>
        <ion-label>
          <h2>{{ contact.number }}</h2>
          <p> {{ contact.name }} </p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item button *ngIf="item.address">
      <ion-icon slot="start" name="pin">
      </ion-icon>
      <ion-label>
        <h2>{{ item.address }}</h2>
        <p> Residence </p>
      </ion-label>
    </ion-item>

    <ion-item button *ngIf="item.email" [href]="'mailto:' + item.email">
      <ion-icon slot="start" name="mail">
      </ion-icon>
      <ion-label>
        <h2>{{ item.email }}</h2>
        <p> Work </p>
      </ion-label>
    </ion-item>

  </ion-list>

  <!--ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab-->
  
</ion-content>
